<html>
  <body>
    <center>
      <div
        style='background-color: #3D4A5B; max-width: 840px; margin: 0; padding: 30px;'
      >
        <h2 style='color: #dfdfdf; text-align: center'>
          <b>
            Você foi adicionado a uma Instituição
          </b>
        </h2>
        <p style='color: #dfdfdf; text-align: center'>Para finalizar o seu
          cadastro clique no botão abaixo:
        </p>
        <div
          style='margin: 20px auto; width: 180px; padding: 10px 20px; background-color: #62d279; border-radius: 5px; text-align: center;'
        >
          <a
            href='https://app.ideedutec.com/cadastro'
            target='_blank'
            rel='noopener noreferrer'
            style='text-decoration: none; color: #0f0606; font-size: 18px; margin: 0 auto;'
          ><b>Realizar cadastro</b></a>
        </div>
      </div>
    </center>
  </body>
</html>