<html>
  <body>
    <center>
      <div
        style='background-color: #d2d0d0; max-width: 840px; margin: 0; padding: 30px;'
      >
        <h2 style='color: #000000; text-align: center'>
          <b>
            Você foi adicionado como professor da Instituição EEM José de
            Alencar
          </b>
        </h2>
        <p style='color: #000000; text-align: center'>Para finalizar o seu
          cadastro clique no botão abaixo, ou acesse o seguinte link:
          <a href='#' style='color: #093891; text-align: center'><b
            >ideedutec.com.br</b></a>
        </p>
        <div
          style='margin: 20px auto; width: 180px; padding: 10px 20px; background-color: #093891; border-radius: 5px; text-align: center;'
        >
          <a
            href='http://url-do-front/email-confirmation'
            target='_blank'
            rel='noopener noreferrer'
            style='text-decoration: none; color: #fcfcfc; font-size: 18px; margin: 0 auto;'
          ><b>Realizar cadastro</b></a>
        </div>
      </div>
    </center>
  </body>
</html>